.entry-cover img {
  max-height: 500px;
  object-fit: cover;
}

a.logo-anchor:link {
  box-shadow:none; 
  text-decoration: none;
}

a.logo-anchor:visited {
  box-shadow:none;  
 text-decoration: none;
}

a.logo-anchor:hover {
 box-shadow:none;
 text-decoration: none;
}

a.logo-anchor:active {
  box-shadow:none;
  text-decoration: none;
}

.logo-card {
  display: inline-block;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 100%
}

.logo-card img {
  max-height:100px;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}
